@charset "UTF-8";

/*

CONFIGURAÇOES DO MOBILE FIRST

Paleta de cores 
Verde: #49a09d
Lilás: #5f2c82

*/


* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}


    body, html {
        background-color: #5f2c82;
        height: 100vh;
        width: 100vw;
    }

    main {
        position: relative;
        height: 100vh;
        width: 100vw;
    }

    section#login {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
        background-color: white;
        width: 250px;
        height: 500px;
        border-radius: 20px;
        box-shadow:  0px 0px 20px rgba(0, 0, 0, 0.452);
    }

    section#login > div#imagem {
        display: block;
        background: #fd16b0ce url(../imagem/pexels-julias-torten-und-törtchen-15295967.jpg)no-repeat;
        background-size: cover;
        background-position: center center;
        height: 200px;
    }
